<h1>Add a question to <%= @quiz.name %>:</h1>


<%= form_for(@question, :url => quiz_questions_path(@quiz)) do |f| %>
  <%= f.hidden_field :quiz_id, :value => @quiz.id %>

  <p>
    <%= f.label :content, "What's the Question?" %> </br>
    <%= f.text_area :content, {:cols => 80, :rows => 2, :class => "large-field"} %>
  </p>

  <p>
    <ol>
      <li>
        <input type="text" name="choices[]" />
        <input type="radio" name="correct_choice" value="0"/>
      </li>
      <li>
        <input type="text" name="choices[]" />
        <input type="radio" name="correct_choice" value="1"/>
      </li>
      <li>
        <input type="text" name="choices[]" />
        <input type="radio" name="correct_choice" value="2"/>
      </li>
      <li>
        <input type="text" name="choices[]" />
        <input type="radio" name="correct_choice" value="3"/>
      </li>
    </ol>
  </p>

  <%= f.submit %>
<% end %>